[submodule "enyo"]
	path = enyo
	url = https://github.com/enyojs/enyo.git
[submodule "lib/onyx"]
	path = lib/onyx
	url = https://github.com/enyojs/onyx.git
[submodule "lib/layout"]
	path = lib/layout
	url = https://github.com/enyojs/layout.git
[submodule "lib/gts-plugins"]
	path = lib/gts-plugins
	url = https://GlitchTechScience@bitbucket.org/GlitchTechScience/gts-plugins.git
[submodule "lib/canvas-spinner"]
	path = lib/canvas-spinner
	url = https://github.com/JMTK/canvas-spinner.git
