[submodule "www/enyo"]
	path = www/enyo
	url = https://github.com/enyojs/enyo.git
[submodule "www/lib/onyx"]
	path = www/lib/onyx
	url = https://github.com/enyojs/onyx.git
[submodule "www/lib/layout"]
	path = www/lib/layout
	url = https://github.com/enyojs/layout.git
[submodule "www/lib/g11n"]
	path = www/lib/g11n
	url = https://github.com/enyojs/g11n.git
[submodule "www/lib/gts_plugins"]
	path = www/lib/gts_plugins
	url = https://GlitchTechScience@bitbucket.org/GlitchTechScience/gts-plugins.git
[submodule "www/lib/private"]
	path = www/lib/private
	url = https://GlitchTechScience@bitbucket.org/GlitchTechScience/checkbook_private.git
[submodule "www/lib/MachiApps"]
	path = www/lib/MachiApps
	url = https://github.com/MachiApps/Enyo-2-Components.git
