<?xml version='1.0' encoding='utf-8'?>
<widget id="com.glitchtechscience.gtcheckbook" version="1.5.0" android-versionCode="150" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

	<name>Checkbook</name>

	<description>
		GlitchTech Checkbook, a financial management application, allows you to efficiently track your finances on your Android-enabled device. Checkbook allows you to create many different accounts, and each account can hold thousands of transactions. Track incomes, expenses, and transfers between accounts with ease, and back up your data with Google Spreadsheets. Checkbook is currently in development, with new features added often.
	</description>

	<author email="glitchtechscience@gmail.com" href="http://glitchtechscience.com">
		GlitchTech Science
	</author>

<!--
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
-->

	<content src="debug.html" />

	<access origin="*" />

</widget>
