.narrow-column {
	width: 600px;

	margin-left: auto;
	margin-right: auto;

	padding-left: 1em;
	padding-right: 1em;
}

.default,
.norm-row {
	background-color: #d8d8d8;
}

.light,
.light-row ,
.light .norm-row {
	background-color: #f1f1f1;
}

.alt-row {
	background-color: #d0d0ff;/* ccccff old color */
}

.deep-green {
	background-color: #284907;
}

.deep-green-gradient {
	/* Horizontal, Center based */
	/* .deep-green to .default to .deep-green */
	background-image: -webkit-gradient(
			linear,
			left top,
			right top,
			from( #284907 ),
			color-stop( 0.1, #284907 ),
			color-stop( 0.4, #f1f1f1 ),
			color-stop( 0.6, #f1f1f1 ),
			color-stop( 0.9, #284907 ),
			to( #284907 )
		);
}

.rich-brown {
	background-color: #382513;
}

.rich-brown-gradient {
	/* Horizontal, Center based */
	/* .rich-brown to .default to .deep-green */
	background-image: -webkit-gradient(
			linear,
			left top,
			right top,
			from( #382513 ),
			color-stop( 0.1, #382513 ),
			color-stop( 0.4, #f1f1f1 ),
			color-stop( 0.6, #f1f1f1 ),
			color-stop( 0.9, #382513 ),
			to( #382513 )
		);
}

.tardis-blue {
	background-color #272D70;
}

.tardis-blue-gradient {
	/* Horizontal, Center based */
	/* .rich-brown to .default to .deep-green */
	background-image: -webkit-gradient(
			linear,
			left top,
			right top,
			from( #272D70 ),
			color-stop( 0.1, #272D70 ),
			color-stop( 0.4, #f1f1f1 ),
			color-stop( 0.6, #f1f1f1 ),
			color-stop( 0.9, #272D70 ),
			to( #272D70 )
		);
}

/* Checkbook Stamp Background */
.checkbook-stamp {
	background-image: url( '../images/trans_bg.png' );
	background-repeat: no-repeat;
	background-position: center center;
}

/* Desktop Background CSS */
.desktop-background {
  min-height:740px;
  background-position: center top;
}

.desktop-background-shade {
  -webkit-transition: background-color 1s ease;
}

.desktop-background-gradient {
  -webkit-border-image: url( '../images/compose-background-shadow.png' ) 0 128 stretch;
  border-width: 0 128px;
  margin: 0 -128px;
}

.desktop-background-center {
  margin: 0 auto;
  max-width: 768px;
}

/* Background Colors */

.custom-background.black {
	background-color: #8f8f8f;
	border-color: #000000;
}
.custom-background.black.legend,
.custom-background.black.held {
	background-color: #333333;
	color: #ffffff;
}

.custom-background.blue {
	background-color: #dbeaf9;
	border-color: #0d71d7;
}
.custom-background.blue.legend {
	/* background-color: #61a3e5; */
	background-color: #02406d;
	color: #ffffff;
}
.custom-background.blue.held {
	background-color: #f4f9ff;
}

.custom-background.green {
	background-color: #e5f3d9;
	border-color: #52b400;
}
.custom-background.green.legend {
	/* background-color: #8ece59; */
	background-color: #008000;
	color: #ffffff;
}
.custom-background.green.held {
	background-color: #f0ffe4;
}

.custom-background.orange {
	background-color: #ffead9;
	border-color: #ff7200;
}
.custom-background.orange.legend {
	/* background-color: #ffa359; */
	background-color: #ee8e00;
	color: #ffffff;
}
.custom-background.orange.held {
	background-color: #faf0e8;
}

.custom-background.pink {
	background-color: #ffd9f1;
	border-color: #ff00a2;
}
.custom-background.pink.legend {
	/* background-color: #ff59c2; */
	background-color: #ffc0cb;
}
.custom-background.pink.held {
	background-color: #fce9f5;
}

.custom-background.purple {
	background-color: #f0d9f7;
	border-color: #9a00c7;
}
.custom-background.purple.legend {
	/* background-color: #be59db; */
	background-color: #480370;
	color: #ffffff;
}
.custom-background.purple.held {
	background-color: #f6eef9;
}

.custom-background.red {
	background-color: #ffd9d9;
	border-color: #ff0000;
}
.custom-background.red.legend {
	/* background-color: #ff5959; */
	background-color: #b22222;
	color: #ffffff;
}
.custom-background.red.held {
	background-color: #fff3f3;
}

.custom-background.teal {
	background-color: #d9f2f7;
	border-color: #00a6c9;
}
.custom-background.teal.legend {
	/* background-color: #59c5dc; */
	background-color: #008080;
	color: #ffffff;
}
.custom-background.teal.held {
	background-color: #48d1cc;
}

.custom-background.yellow {
	background-color: #fdf9d9;
	border-color: #f4d400;
}
.custom-background.yellow.legend {
	/* background-color: #f8e359; */
	background-color: #ffef00;
}
.custom-background.yellow.held {
	background-color: #f8e359;
}
