.body-temp {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url( "../../assets/trans_bg.png" );
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}

.header-overlay {
	background-color: #333333;
	background-color: rgba( 51, 51, 51, 0.75 );
	color: #ffffff;
	line-height: 55px;
}

/** Login Popup **/

.login-system .pin-pad button,
.login-system .pin-pad .dummy-button {
	width: 125px;
	display: inline-block;
}

/** Account List **/

.account-item {
	padding: 0px;
}

.account-item.hiddenAccount .accountName {
	color: #cc0000;
}

.account-item.maskedAccount .accountName {
	color: #0000cc;
}

.account-item .account {
	border-top: 1px solid rgba(255, 255, 255, 0.5);

	padding: 8px 14px;
}

.account-item .account > * {
	display: inline-block;
	vertical-align: middle;
}

.accountLockIcon,
.accountIcon {
	height: 32px !important;
	width: 32px !important;
}

.accountIcon {
	margin-right: 10px;
}

.accountLockIcon {
	margin-left: -42px;
}

.accountLockIcon.unlocked {
	display: none;
}

.account-item .note {
	padding: 0px 14px 5px 14px;
}

/** Transaction List **/

.transaction-item-top {
	margin-left: -25px;
	padding-left: 10px;

	margin-top: -5px;
	padding-top: 5px;
}

.transaction-item-top .amount-block {
	display: inline-block;
}

.transaction-item-top .checkbox-clone.checked {
	background-position: 0px -32px;
}

.repeatIcon {
	background-image: url( "../../assets/calendar.png" );
	background-repeat: no-repeat;
	background-position: top left;
}

.repeatTransferIcon {
	background-image: url( "../../assets/future_transfer_1.png" );
	background-repeat: no-repeat;
	background-position: top left;
}

.transferIcon {
	background-image: url( "../../assets/transfer_3.png" );
	background-repeat: no-repeat;
	background-position: top left;
}

.expenseIcon {
	background-image: url( "../../assets/icon-expense.png" );
	background-repeat: no-repeat;
	background-position: top left;
}

.incomeIcon {
	background-image: url( "../../assets/icon-income.png" );
	background-repeat: no-repeat;
	background-position: top left;
}

.futureTransaction .date {
	color: #000000;
}

.date,
.futureTransaction .description {
	color: #0000cc;
}

.splitCatContainer .categoryGroup {
	margin-left: -10px;
}

.splitCatContainer .categoryGroup div {
	.border-radius ( top-left, 5px );
	.border-radius ( bottom-left, 5px );

	border-left: 1px solid rgba( 0, 0, 0, 0.2 );
}

.splitCatContainer .categoryAmount {
}

.splitCatContainer .categoryAmount div {
	.border-radius ( top-right, 5px );
	.border-radius ( bottom-right, 5px );

	border-right: 1px solid rgba( 0, 0, 0, 0.2 );
}

.splitCatContainer .cat-item {
	border-top: 1px solid rgba( 255, 255, 255, 0.5 );
	border-bottom: 1px solid rgba( 0, 0, 0, 0.2 );
	padding: 10px;
}
