/** Account List **/

.account-item {
	padding: 0px;
}

.account-item .hiddenAccount {
	display: none;
}

.account-item .maskedAccount .accountName {
	color: #0000cc;
}

.account-item .onyx-swipeable-item-content {
	padding: 9px 3px;
}

.account-item .account {
	border-top: 1px solid rgba(255, 255, 255, 0.5);

	padding: 8px 14px;
}

.account-item .account > * {
	display: inline-block;
	vertical-align: middle;
}

.account-item .account .accountLockIcon,
.account-item .account .accountIcon {
	height: 32px !important;
	width: 32px !important;
}

.account-item .account .accountIcon {
	margin-right: 10px;
}

.account-item .account .accountLockIcon {
	margin-left: -42px;
}

.account-item .account .accountLockIcon.unlocked {
	display: none;
}

.account-item .note {
	padding: 0px 14px 5px 14px;
}

/** Transaction List **/

.transactionItemTop {
	margin-left: -25px;
	padding-left: 10px;

	margin-top: -5px;
	padding-top: 5px;
}

.repeatIcon {
	background-image: url( "../../assets/calendar.png" );
	background-repeat: no-repeat;
	background-position: top left;
}

.repeatTransferIcon {
	background-image: url( "../../assets/future_transfer_1.png" );
	background-repeat: no-repeat;
	background-position: top left;
}

.transferIcon {
	background-image: url( "../../assets/transfer_3.png" );
	background-repeat: no-repeat;
	background-position: top left;
}

.expenseIcon {
	background-image: url( "../../assets/icon-expense.png" );
	background-repeat: no-repeat;
	background-position: top left;
}

.incomeIcon {
	background-image: url( "../../assets/icon-income.png" );
	background-repeat: no-repeat;
	background-position: top left;
}

.futureTransaction .date {
	color: #000000;
}

.date,
.futureTransaction .description {
	color: #0000cc;
}

.splitCatContainer .categoryGroup {
	margin-left: -10px;
}

.splitCatContainer  .categoryGroup div {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-left: 1px solid rgba( 0, 0, 0, 0.2 );
}

.splitCatContainer .categoryAmount {
}

.splitCatContainer  .categoryAmount div {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-right: 1px solid rgba( 0, 0, 0, 0.2 );
}

/** Transaction Preview && Similar **/

.modal-pane-view {
	font-size: 18px;
	height: 600px;
}

.modal-pane-view .group .enyo-scroller {
	margin: -12px
}

.modal-pane-view .group .enyo-first {
	border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
	height: 65px;
	padding: 8px;
}
