/** Horizontal Box **/

.h-box {
	display: inline-block;/* fallback for crappy browsers */

	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;

	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-align: stretch;

	display: box;
	box-orient: horizontal;
	box-align: stretch;
}

.h-box > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
	display: block;
}

/** Flexes **/

.box-flex-0 {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
}

.box-flex-1, .box-flex {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

.box-flex-2 {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
}

/** Packing **/

.pack-start {
	-webkit-box-pack: start;
	-moz-box-pack: start;
	box-pack: start;
}

.pack-end {
	-webkit-box-pack: end;
	-moz-box-pack: end;
	box-pack: end;
}

.pack-center {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}
