.big {
	font-size: 110%;
}

.bigger {
	font-size: 125%;
}

.biggest {
	font-size: 140%;
}

.bold {
	font-weight: bold;
}

.medium-margin-bottom {
	margin-bottom: 0.5em;
}

.small {
	font-size: 90%;
}

.smaller {
	font-size: 75%;
}

.smallest {
	font-size: 60%;
}

.small-row-padding {
	padding: 5px 5px 5px 10px;
}

.invert {
	-webkit-transform: rotate(180deg);
}

.img-icon {
	height: 32px;
	width: 32px;
}

/*****************/

.popup-header .enyo-header-inner {
	padding: 0px;
	min-height: 0px;
}

.force-left-padding {
	padding-left: 10px !important;
},

/*****************/

.enyo-progress-bar.red .enyo-progress-bar-inner {
	-webkit-border-image: url( '../images/progress_bar/red.png' ) 0 5 0 5 repeat repeat;
}

.enyo-progress-bar.green .enyo-progress-bar-inner {
	-webkit-border-image: url( '../images/progress_bar/green.png' ) 0 5 0 5 repeat repeat;
}

.enyo-progress-bar.yellow .enyo-progress-bar-inner {
	-webkit-border-image: url( '../images/progress_bar/yellow.png' ) 0 5 0 5 repeat repeat;
}

/*****************/

.enyo-modaldialog > * {
	height:100%;
}

.enyo-menuitem-icon  {
	height: 32px;
	width: 32px;
}

.iconListSelector .enyo-menuitem-icon  + div {
	padding-top: 8px;
}

.enyo-tool-button-client > .enyo-button-icon {
	margin: -6px -6px -10px -6px;
}

/*****************/

.dividerDrawerBlack .enyo-divider-caption {
	font-size:18px;
	font-weight: normal;
	color: #333333;
}

/* Transaction Preview */

.modal-pane-view {
	font-size: 18px;
	height: 600px;
}

.modal-pane-view .group .enyo-scroller {
	margin: -12px
}

.modal-pane-view .group .enyo-first {
	border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
	height: 65px;
	padding: 8px;
}