/* Text Size */

html, body {
	font-size: 18px;
}

.big {
	font-size: 110%;
}

.bigger {
	font-size: 125%;
}

.biggest {
	font-size: 140%;
}

.small {
	font-size: 90%;
}

.smaller {
	font-size: 75%;
}

.smallest {
	font-size: 60%;
}

/* Text Alignment */

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-top > * {
	vertical-align: top;
}

.text-middle > * {
	vertical-align: middle;
}

.text-bottom > * {
	vertical-align: bottom;
}

/* Spacing */

.padding-std {
	padding: 0.5em;
}

.half-padding-std {
	padding: .25em;
}

.padding-top {
	padding-top: 1em;
}

.padding-half-top {
	padding-top: 0.5em;
}

.padding-bottom {
	padding-bottom: 1em;
}

.padding-half-bottom {
	padding-bottom: 0.5em;
}

.padding-left {
	padding-left: 1em;
}

.padding-half-left {
	padding-left: 0.5em;
}

.padding-right {
	padding-right: 1em;
}

.padding-half-right {
	padding-right: 0.5em;
}

.padding-top-bottom {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.padding-left-right {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.padding-none {
	padding: 0;
}

.margin-top {
	margin-top: 1em;
}

.margin-half-top {
	margin-top: 0.5em;
}

.margin-bottom {
	margin-bottom: 1em;
}

.margin-half-bottom {
	margin-bottom: 0.5em;
}

.margin-left {
	margin-left: 1em;
}

.margin-half-left {
	margin-left: 0.5em;
}

.margin-double-left {
	margin-left: 2em;
}

.margin-right {
	margin-right: 1em;
}

.margin-half-right {
	margin-right: 0.5em;
}

.margin-top-bottom {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.margin-left-right {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.margin-none {
	margin: 0;
}

/* Float Alignment */

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

/*****************/

.inline {
	display: inline-block;
}

.label {
	color: #1879cd;
	font-size: .7rem;
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.text-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.small-row-padding {
	padding: 5px 5px 5px 10px;
}

.full-width {
	min-width: 100%;
}

.invert {
	/* http://css3please.com/ */

	-webkit-transform: rotate(180deg);  /* Safari 3.1+, Chrome */
	-moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
	-ms-transform: rotate(180deg);  /* IE9 */
	-o-transform: rotate(180deg);  /* Opera 10.5-12.00 */

	transform: rotate(180deg);  /* Firefox 16+, Opera 12.50+ */

	filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */
		M11=-1, M12=-1.2246063538223773e-16, M21=1.2246063538223773e-16, M22=-1, sizingMethod='auto expand');
	zoom: 1;
}

.img-icon {
	height: 32px;
	width: 32px;
}

.dark-link a,
.dark-link a:link,
.dark-link a:visited,
.dark-link a:active,
.dark-link a:hover {
	color: #99ccff;
}

.dark-link a:active,
.dark-link a:hover {
	color: #ff0000;
}

.arrow,
.arrow:active:hover:not( [disabled] ),
.arrow.active {
	height: 32px;
	padding-right: 32px;

	background-repeat: no-repeat;
	background-position: center right;

	background-image: url( "../../assets/menu-arrow.png" );
}

.arrow.dark,
.arrow.dark:active:hover:not( [disabled] ),
.arrow.dark {
	background-image: url( "../../assets/menu-arrow-light.png" );
}

/*****************/

.popup-header .enyo-header-inner {
	padding: 0px;
	min-height: 0px;
}

.force-left-padding {
	padding-left: 10px !important;
}

.onyx-popup .light {

	background-color: #eeeeee;
	color: #333333;

	border-radius: 5px;
}

.bordered {
	border-top: 1px solid rgba( 255, 255, 255, 0.5 );
	border-bottom: 1px solid rgba( 0, 0, 0, 0.2 );
}

.onyx-item.bordered {
	padding: 10px;
	font-size: .9rem;
}

.onyx-item.onyx-swipeable-item.bordered {
	padding: 0;
}

.onyx-input-decorator > input {
	width: 100%;
}

/*****************/

.onyx-toolbar.transparent {
	background: transparent;
	border-width: 0;
}

/*****************/

.enyo-label-fullsize {
	color: #1879cd;
	text-transform: uppercase;
}

/*****************/

.onyx-button.transparent {
	background-color: transparent;
}

.onyx-button.small-padding {
	padding: 2px 6px;
}

/* Custom Checkbox States */

.onyx-checkbox.add {
	background: url( "../../assets/menu_icons/new.png" ) no-repeat;
}

.onyx-checkbox.lock {
	background: url( "../../assets/menu_icons/lock.png" ) no-repeat;
}

.onyx-checkbox.lock[checked] {
	background: url( "../../assets/menu_icons/unlock.png" ) no-repeat;
}

.onyx-checkbox.income {
	background: url( "../../assets/menu_icons/income.png" ) no-repeat;
}

.onyx-checkbox.transfer {
	background: url( "../../assets/menu_icons/transfer.png" ) no-repeat;
}

.onyx-checkbox.expense {
	background: url( "../../assets/menu_icons/expense.png" ) no-repeat;
}

/*****************/

.enyo-progress-bar.big {
	height: 25px;
	border-width: 0px 5px;

	-webkit-border-image: url( "../../assets/progress_bar/progress-bar-big.png" ) 0 5 0 5 repeat repeat;
}

.enyo-progress-bar.big .enyo-progress-bar-inner {
	margin: 0 -5px;
	height: 25px;
	border-width: 0 5px;

	-webkit-border-image: url( "../../assets/progress_bar/blue-big.png" ) 0 5 0 5 repeat repeat;
}

.enyo-progress-bar.green .enyo-progress-bar-inner {
	-webkit-border-image: url( "../../assets/progress_bar/green.png" ) 0 5 0 5 repeat repeat;
}
.enyo-progress-bar.big.green .enyo-progress-bar-inner {
	-webkit-border-image: url( "../../assets/progress_bar/green-big.png" ) 0 5 0 5 repeat repeat;
}

.enyo-progress-bar.yellow .enyo-progress-bar-inner {
	-webkit-border-image: url( "../../assets/progress_bar/yellow.png" ) 0 5 0 5 repeat repeat;
}
.enyo-progress-bar.big.yellow .enyo-progress-bar-inner {
	-webkit-border-image: url( "../../assets/progress_bar/yellow-big.png" ) 0 5 0 5 repeat repeat;
}

.enyo-progress-bar.red .enyo-progress-bar-inner {
	-webkit-border-image: url( "../../assets/progress_bar/red.png" ) 0 5 0 5 repeat repeat;
}
.enyo-progress-bar.big.red .enyo-progress-bar-inner {
	-webkit-border-image: url( "../../assets/progress_bar/red-big.png" ) 0 5 0 5 repeat repeat;
}

/*****************/

.enyo-modaldialog > * {
	height:100%;
}

.enyo-menuitem-icon {
	height: 32px;
	width: 32px;
}

.iconListSelector .enyo-menuitem-icon + div {
	padding-top: 8px;
}

.enyo-tool-button-client > .enyo-button-icon {
	margin: -6px -6px -10px -6px;
}

/*****************/

.dividerDrawerBlack .enyo-divider-caption {
	font-size:18px;
	font-weight: normal;
	color: #333333;
}
