.big {
	font-size: 110%;
}

.bigger {
	font-size: 125%;
}

.biggest {
	font-size: 140%;
}

.bold {
	font-weight: bold;
}

.medium-margin-bottom {
	margin-bottom: 0.5em;
}

.small {
	font-size: 90%;
}

.smaller {
	font-size: 75%;
}

.smallest {
	font-size: 60%;
}

.small-row-padding {
	padding: 5px 5px 5px 10px;
}

.invert {
	-webkit-transform: rotate(180deg);
}

.img-icon {
	height: 32px;
	width: 32px;
}

/*****************/

.popup-header .enyo-header-inner {
	padding: 0px;
	min-height: 0px;
}

.force-left-padding {
	padding-left: 10px !important;
}

/*****************/

.enyo-label-fullsize {
	color: #1879cd;
	text-transform: uppercase;
}

/*****************/

.enyo-progress-bar.big {
	height: 25px;
	border-width: 0px 5px;

	-webkit-border-image: url( '../images/progress_bar/progress-bar-big.png' ) 0 5 0 5 repeat repeat;
}

.enyo-progress-bar.big .enyo-progress-bar-inner {
	margin: 0 -5px;
	height: 25px;
	border-width: 0 5px;

	-webkit-border-image: url( '../images/progress_bar/blue-big.png' ) 0 5 0 5 repeat repeat;
}

.enyo-progress-bar.green .enyo-progress-bar-inner {
	-webkit-border-image: url( '../images/progress_bar/green.png' ) 0 5 0 5 repeat repeat;
}
.enyo-progress-bar.big.green .enyo-progress-bar-inner {
	-webkit-border-image: url( '../images/progress_bar/green-big.png' ) 0 5 0 5 repeat repeat;
}

.enyo-progress-bar.yellow .enyo-progress-bar-inner {
	-webkit-border-image: url( '../images/progress_bar/yellow.png' ) 0 5 0 5 repeat repeat;
}
.enyo-progress-bar.big.yellow .enyo-progress-bar-inner {
	-webkit-border-image: url( '../images/progress_bar/yellow-big.png' ) 0 5 0 5 repeat repeat;
}

.enyo-progress-bar.red .enyo-progress-bar-inner {
	-webkit-border-image: url( '../images/progress_bar/red.png' ) 0 5 0 5 repeat repeat;
}
.enyo-progress-bar.big.red .enyo-progress-bar-inner {
	-webkit-border-image: url( '../images/progress_bar/red-big.png' ) 0 5 0 5 repeat repeat;
}

/*****************/

.enyo-modaldialog > * {
	height:100%;
}

.enyo-menuitem-icon  {
	height: 32px;
	width: 32px;
}

.iconListSelector .enyo-menuitem-icon  + div {
	padding-top: 8px;
}

.enyo-tool-button-client > .enyo-button-icon {
	margin: -6px -6px -10px -6px;
}

/*****************/

.dividerDrawerBlack .enyo-divider-caption {
	font-size:18px;
	font-weight: normal;
	color: #333333;
}