/** Styles for adaptive screen size **/
@viewport {
	width: device-width;
	height: device-height;
}

/* Default Styling */
.app-panels > * {
	width: 400px;
	background-color: #EAEAEA;
	box-shadow: -4px -4px 4px rgba(0,0,0,0.3);
}

.small-input-popup {
	width: 400px;
}

/* Adjust for smaller screen sizes */

@media all and ( max-width: 800px ) {

	.app-panels > * {
		min-width: 100%;
	}
}

@media all and ( max-width: 400px ) {

	.small-input-popup {
		width: 95%;
	}
}
